<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LoomsManagementEntities" connectionString="metadata=res://*/ORM.LoomsManagementDatabase.csdl|res://*/ORM.LoomsManagementDatabase.ssdl|res://*/ORM.LoomsManagementDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mayur;initial catalog=LoomsManagement;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>